.item {
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;

  &__name {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  &__price {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  &__description {
    font-size: 0.75rem;
    color: darkgray;
    margin-bottom: 0.5rem;
  }
  &__image {
    display: block;
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
  }
  &__allergens {
    font-size: 0.75rem;
    color: var(--color-allergen);
    background-color: var(--color-allergen-bg);
  }
}
